@font-face {
    font-family: 'poppin';
    src: url('fonts/Poppins-Medium.ttf');
    font-display: swap;
}

:root {
    --color-rojo: #E08E79;
    --color-claro: #ECE5CE;
    --color-verde: #C5E0DC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--color-verde);
    text-decoration: none;
    font-size: 22px;
    background-color: transparent;
    font-family: poppin;
    border: solid var(--color-rojo);
    border-radius: 17px;
    padding: 8px;
}

a:hover {
    color: var(--color-verde);
    cursor: pointer;
}

h1 {
    font-size: 30px;
    color: var(--color-rojo);
}

body {
    color: var(--color-claro);
    background-color: #000;
    font-family: poppin;
}

.header {
    margin-top: 50px;
    width: 100%;
}

.header .contenedor-general {
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.header .contenedor-general h2 {
    font-size: 25px;
    color: var(--color-verde);
}

.header .contenedor-general p {
    margin-top: 20px;
    font-size: 25px;
}

.header .contenedor-general img {
    margin-top: 50px;
}

.header .contenedor-general .mensaje{
    font-size: 23px;
}

.proyectos-principales{
    width: 100%;
    margin-top: 150px;
}

.proyectos-principales h1{
    text-align: center;
    margin-bottom: 30px;
}

.proyectos-principales .contenedor-general{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.proyectos-principales .contenedor-general h2{
    color: var(--color-verde);
    font-size: 30px;
}

.proyectos-principales .contenedor-general h3{
    font-size: 25px;
}

.proyectos-principales .contenedor-general .proyecto{
    margin-bottom: 100px;
}

.experimentos{
    width: 100%;
    margin-top: 100px;
}

.experimentos h1{
    text-align: center;
    margin-bottom: 30px;
}

.experimentos .contenedor-general{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.experimentos .contenedor-general h2{
    color: var(--color-verde);
    font-size: 25px;
    margin-bottom: 10px;
}

.experimentos .contenedor-general .experimento{
    margin-bottom: 100px;
    height: 490px;
}


.skills{
    width: 100%;
    margin-top: 100px;
}

.skills h1{
    text-align: center;
    margin-bottom: 30px;
}

.skills .contenedor-general{
    margin-top: 55px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.skills .contenedor-general .skill{
    flex: 50%;
}

.skills .contenedor-general h2{
    color: var(--color-verde);
    font-size: 25px;
    margin-bottom: 10px;
}

.skills .contenedor-general .skill{
    margin-bottom: 50px;
}

.footer{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer h1{
    text-align: center;
    margin-bottom: 30px;
}

.footer .contenedor-general{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.footer .contenedor-general h2{
    color: var(--color-verde);
    font-size: 25px;
    margin-bottom: 10px;
}

.footer .contenedor-general .skill{
    margin-bottom: 50px;
}



.footer .contenedor-general .icono{
    margin-top: 50px;
}

.footer .contenedor-general .texto{
    margin-top: 10px;
}


@media(min-width:768px) {

 
    .header{
        display: flex;
        margin: auto;
        height: 100vh;
        width: 80%;
    }

   .header .contenedor-general { 
        flex-direction: row;
        justify-content: space-between;
    }

    .header .contenedor-general img{
        margin-top: 0px;
        width: 300px;
        height: 300px;
    }

    .header .contenedor-general .parte-uno{
        text-align: left;
        flex: 50%;
    }

    .header .contenedor-general .parte-dos{
        text-align: right;
        flex: 50%;
    }

    .experimentos{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .skills{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .footer{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .proyectos-principales{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .proyectos-principales .contenedor-general, .experimentos .contenedor-general, .skills .contenedor-general, .footer .contenedor-general{
        flex-direction: row;
        justify-content: space-between;
    }

    .proyectos-principales .contenedor-general .proyecto{
        flex: 40%;
        padding: 10px;
        height: 550px;
        margin: 25px;
        border-radius: 30px;
        border: solid var(--color-verde);
    }

    .experimentos .contenedor-general .experimento{
        flex: 40%;
        padding: 10px;
        margin: 25px;
        border-radius: 30px;
        border: solid var(--color-verde);
    }

    .skills .contenedor-general .skill{
        flex: 20%;
        padding: 30px;
    }

    .footer .contenedor-general{
        display: flex;
        align-items: center;
        margin: auto;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer .contenedor-general .red-social{
        padding: 50px;
        display: flex;
        align-items: center;
        margin: auto;
        align-content: center;
        flex-direction: row;
    }

    .footer .contenedor-general .red-social .icono{
        margin-top: 0;
    }

    .footer .contenedor-general .red-social .texto{
        margin-top: 0;
        margin-left: 10px;
    }

}