body{
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

.input_con_borde{
    border-radius: 16px;
    border: 2px solid #ECE5CE;
    background-color: transparent;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ECE5CE;
}

.font_krona{
    font-family: 'Krona One', sans-serif;
}

.color_primary{
    color: #E08E79;
}

.color_secondary{
    color: #C5E0DC;
}

.color_claro{
    color: #ECE5CE;
}

.btn_primary{
    color: #fff;
    background-color: #E08E79;
}

.foto_martin{
    max-width: 300px;
}

.font_bold{
    font-weight: 700;
}



@media only screen and (max-width: 500px) {
    .foto_martin{
        max-width: 230px;
    }
}