@import 'util_manejo_columnas.css';
@import 'util_margenes_pading.css';
@import 'util_titulos_texto.css';
@import 'util_paleta_colores.css';

@font-face {
    font-family: 'Krona One';
    src: url('../fonts/KronaOne-Regular.ttf');
}

@font-face {
    font-family: 'Open sans';
    src: url('../fonts/Roboto-Medium.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}


.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
}

.input-con-borde{
    font-size: 21px;
    border-radius: 15px;
    border: 2px solid #ECE5CE;
    background-color: transparent;
}


.texto-slider{
  margin-top: 100px;
}

.slider__img{
    margin-top: 60px;
}

.font-krona{
    font-family: 'Krona One', sans-serif;
}

.btn-primary{
    color: #E08E79;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #E08E79;
    border-radius: 10px;
    cursor: pointer;
}

.texto-izquiera{
    text-align: left;
}

.btn-primary:hover{
    color: #C5E0DC;
}

.foto-martin{
    
    max-width: 300px;
}


form{
    position: relative;
    margin: auto;
    width: 70%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

label{
    font-size: 21px;
    margin-left: 5px;
    float: left;
    margin-bottom: 5px;
}

input{
    color: #fff;
    width: 100%;
    padding: 10px;
}

input::placeholder{
    color: #ECE5CE;
}

p{
    font-size: 21px;
}

textarea{
    color: #fff;
    width: 100%;
    font-size: 15px;
}



.slider__section h3{
    font-family: 'Krona One', sans-serif;
    color: #E08E79;
    font-size: 30px;
}

.slider__section h4{
    font-family: 'Krona One', sans-serif;
    color: #C5E0DC;
    font-size: 20px;
    margin-bottom: 15px;
}


.wrapper{
    min-width: 0px;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.item-wrapper{
    margin-right: 200px;
    text-align: center;
}

@media (max-width: 991px) {
    .titulo-principal{
        margin-top: 0;
     }
     .texto-slider{
        margin-top: 0;
      }
}

@media (max-width:530px){
    .titulo-principal{
        font-size: 29px;
    }
    .titulo-secundario{
        font-size: 20px;
    }
    .titulo-foto{
        font-size: 15px;
    }
    .foto-martin{
        max-width: 210px;
    }
    .contenedor{
        width: 100%;
    }

    .form{
        width: 95%;
    }
}
